In [1]:
import xlwings as xw 
import os 

os.chdir(r'C:\Users\李乔乔\Desktop\python\附件lqq')
os.getcwd()

'C:\\Users\\李乔乔\\Desktop\\python\\附件lqq'

In [2]:
#导入数据
data=xw.App().books.open("yichang.xlsm")
she1=data.sheets[0]
she2=data.sheets[1]
she1

In [3]:
#将要使用的数据提取出来作为数据框
import pandas as pd
da2=pd.DataFrame(she2.range("A1:AB16").value)
da1=pd.DataFrame(she1.range("A1:AB1965").value)
def lis_name(da):
    #将第一行设置为列名
    da.columns=da.iloc[0].values
    #将第一行删除
    da=da.drop(0)
    return(da)
dad1=lis_name(da1)
dad2=lis_name(da2)
#得到索引的行号
list(da1.iloc[:,0]).index(100)
#将每一列的列名变成列表
col_name=list(dad1.columns)

In [17]:
# 用99分位数和1分位数替换
#计算P1和P99
A1 =df.a1.quantile(0.01); A99 = df.a1.quantile(0.99)
#先创建一个新变量，进行赋值，然后将满足条件的数据进行替换
df['a1_new'] = df['a1']
df.loc[df['a1'] > A99,'a1_new']  = A99
df.loc[df['a1'] < A1,'a1_new']  = A1

,目标客户编号,品牌类型,a1,a2,a3,a4,a5,a6,a7,a8,...,B9,B10,B11,B12,B13,B14,B15,B16,B17,购买意愿
1,1,2,753.035,87.6538,81.5582,85.6116,85.6297,85.8076,82.3465,84.7696,...,6,14,2,3,19,11,10,30,5,0
2,2,3,88.9228,82.9463,85.1661,85.1897,77.7625,83.5956,82.1524,88.8725,...,6,5,4,4,18,10,8,0,30,0
3,3,3,95.0483,93.3331,77.6604,93.0343,88.87,94.17,95.6027,95.8774,...,4,9,5,2,24,10,17,0,0,0
4,4,3,71.1523,76.7858,66.6917,81.9261,66.655,77.7737,77.5802,76.9895,...,6,10,4,7,27,10,10,18,25,0
5,5,3,70.574,71.6459,70.4446,74.0298,66.655,66.3361,62.093,74.437,...,6,13,4,2,25,15,15,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1960,1960,2,71.3577,75.3737,70.4446,77.767,68.4303,75.027,75.4823,70.334,...,5,6,3,5,25,11,20,0,0,0
1961,1961,2,99.0369,99.0302,99.0326,99.9833,99.9775,99.9919,99.9927,99.9804,...,5,14,7,9,29,9,9,30,20,0
1962,1962,2,90.7713,91.9211,92.6718,96.7197,94.9619,97.2452,95.6027,95.8774,...,6,8,4,5,39,20,17,0,30,0
1963,1963,2,82.4273,88.5115,74.0525,93.0343,76.4617,94.7047,91.1636,95.8774,...,6,8,4,4,21,12,7,20,20,0
1964,1964,2,77.8087,77.8035,702.996,77.767,61.8037,77.7737,73.1902,58.7965,...,6,7,4,3,25,10,12,25,0,0

In [ ]:

def delta_tiqu(da):
    lis1=[]
    lis2=[]
    lis3=[]
    for i in range(2,da.shape[1]):
        lis1.append(np.mean(da.iloc[:,i])-3*np.std(da.iloc[:,i]))
        lis2.append(np.mean(da.iloc[:,i])+3*np.std(da.iloc[:,i]))
        lis3.append(list(da.columns)[i])
        #将数据框进行整合
    #先将列表变成数据框
    li1=pd.DataFrame(lis1)
    li2=pd.DataFrame(lis2)
    li3=pd.DataFrame(lis3)
    df1=pd.concat([li3,li1,li2],axis=1)
    df1.columns=["名称","下限","上限"]
    return df1

In [6]:
#得到数据框的行数
da1.shape[1]
#得到数据框的列数
len(da1)
#将每列的分位数提取出来
def fenwei_tiqu(da):
    lis1=[]
    lis2=[]
    lis3=[]
    for i in range(da.shape[1]):
        lis1.append(da.iloc[:,i].quantile(0.01))
        lis2.append(da.iloc[:,i].quantile(0.99))
        lis3.append(list(da.columns)[i])
        #将数据框进行整合
    #先将列表变成数据框
    li1=pd.DataFrame(lis1)
    li2=pd.DataFrame(lis2)
    li3=pd.DataFrame(lis3)
    df1=pd.concat([li3,li1,li2],axis=1)
    df1.columns=["名称","下限","上限"]
    #转置数据框
    #lis=pd.DataFrame(df1.values.T,index=df1.columns,columns=df1.index)
    # lis=pd.concat([lis0,lis3],axis=1)
    return df1

In [52]:
lis1=fenwei_tiqu(dad1)
lis1

#lis1.iloc[2,i]

        名称           下限           上限
0   目标客户编号    20.630000  1944.370000
1     品牌类型     1.000000     3.000000
2       a1    53.662796    99.036888
3       a2    51.862305    99.030172
4       a3    44.454465    99.032550
5       a4    52.284208    99.983342
6       a5    49.389285    99.977498
7       a6    52.477518    99.991867
8       a7    53.201275    99.992713
9       a8    51.442406    99.980365
10      B1     1.000000     2.000000
11      B2     3.000000    44.370000
12      B3     1.000000     4.000000
13      B4     1.000000    20.000000
14      B5     1.000000     6.000000
15      B6     1.000000     6.000000
16      B7     1.000000     2.000000
17      B8  1972.000000  1997.000000
18      B9     3.000000     8.000000
19     B10     1.000000    25.000000
20     B11     1.000000     8.000000
21     B12     1.000000    10.000000
22     B13     8.000000    70.000000
23     B14     5.000000    60.000000
24     B15     4.000000    50.000000
25     B16     0.000000    50.000000
26     B17     0.000000    40.000000
27    购买意愿     0.000000     1.000000

In [243]:
#将异常的数据提取出来
#da是数据框
def yichang_tiqu(da):
    #建立一个空的数据框
    da1=pd.DataFrame(columns=list(da.columns))
    for i in range(da.shape[1]):
        #依次提取列
        col=da.iloc[:,i]
         #依次提取列中的元素
        try:
            for s in col:
                if s<col.quantile(0.01) or s>col.quantile(0.99):
                #将有异常的这一行留下来
                #并且与da1合并
                    df1=pd.DataFrame(da.iloc[list(col).index(s)])
                    #因为是索引行，上面得到的是一个列数据，所以需要将数据框转置
                    df2=pd.DataFrame(df1.values.T,index=df1.columns,columns=df1.index)  
                    #将每一个得到行数据框，与前一个数据框上下合并
                    da1=da1.append(df2)
        except:
            df1=pd.DataFrame(da.iloc[list(col).index(s)])
                    #因为是索引行，上面得到的是一个列数据，所以需要将数据框转置
            df2=pd.DataFrame(df1.values.T,index=df1.columns,columns=df1.index)  
                    #将每一个得到行数据框，与前一个数据框上下合并
            da1=da1.append(df2)
    da1.drop_duplicates()        
    return da1

In [150]:
#导入数据，并且对导出异常的数据
yicha_data= pd.read_csv("yichang.csv",engine='python')
yicha_data
yic=yichang_tiqu(yicha_data)
yic
#yic.drop_duplicates()
yic.to_csv("yicha_data.csv")
#可以将异常值的数据与每列的分位数数据lis1放入excel中比较，对异常的具体指标数值进行标亮
yic

,目标客户编号,品牌类型,a1,a2,a3,a4,a5,a6,a7,a8,...,B9,B10,B11,B12,B13,B14,B15,B16,B17,购买意愿
0,1,2,753.04,87.65,81.56,85.61,85.63,85.81,82.35,84.77,...,6,14,2,3,19,11,10,30,5,0
1,2,3,88.92,82.95,85.17,85.19,77.76,83.6,82.15,88.87,...,6,5,4,4,18,10,8,0,30,0
2,3,3,95.05,93.33,77.66,93.03,88.87,94.17,95.6,95.88,...,4,9,5,2,24,10,17,0,0,0
3,4,3,71.15,76.79,66.69,81.93,66.65,77.77,77.58,76.99,...,6,10,4,7,27,10,10,18,25,0
4,5,3,70.57,71.65,70.44,74.03,66.65,66.34,62.09,74.44,...,6,13,4,2,25,15,15,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
824,825,2,84.32,83.24,77.95,88.88,88.71,83.06,88.69,85.89,...,4,13,5,4,10,6,3,0,55,0
291,292,2,61.47,69.29,51.82,81.45,57.32,63.92,79.86,62.98,...,6,5,4,7,13,7,4,0,50,0
291,292,2,61.47,69.29,51.82,81.45,57.32,63.92,79.86,62.98,...,6,5,4,7,13,7,4,0,50,0
824,825,2,84.32,83.24,77.95,88.88,88.71,83.06,88.69,85.89,...,4,13,5,4,10,6,3,0,55,0
291,292,2,61.47,69.29,51.82,81.45,57.32,63.92,79.86,62.98,...,6,5,4,7,13,7,4,0,50,0

In [144]:

#导入数据，并且对导出异常的数据
yicha_data= pd.read_csv("yichang.csv",engine='python')
da1=yicha_data
dd=pd.DataFrame(da1.isnull().sum(axis=1),columns=["缺失值个数"])
da2=pd.concat([da1,dd],axis=1)
da2.loc[da2["缺失值个数"]>20]
da=da2.loc[da2["缺失值个数"]<20]
da
#da.describe()

,目标客户编号,品牌类型,a1,a2,a3,a4,a5,a6,a7,a8,...,B10,B11,B12,B13,B14,B15,B16,B17,购买意愿,缺失值个数
0,1.0,2.0,753.04,87.65,81.56,85.61,85.63,85.81,82.35,84.77,...,14.0,2.0,3.0,19.0,11.0,10.0,30.0,5.0,0.0,0
1,2.0,3.0,88.92,82.95,85.17,85.19,77.76,83.60,82.15,88.87,...,5.0,4.0,4.0,18.0,10.0,8.0,0.0,30.0,0.0,0
2,3.0,3.0,95.05,93.33,77.66,93.03,88.87,94.17,95.60,95.88,...,9.0,5.0,2.0,24.0,10.0,17.0,0.0,0.0,0.0,0
3,4.0,3.0,71.15,76.79,66.69,81.93,66.65,77.77,77.58,76.99,...,10.0,4.0,7.0,27.0,10.0,10.0,18.0,25.0,0.0,0
4,5.0,3.0,70.57,71.65,70.44,74.03,66.65,66.34,62.09,74.44,...,13.0,4.0,2.0,25.0,15.0,15.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1959,1960.0,2.0,71.36,75.37,70.44,77.77,68.43,75.03,75.48,70.33,...,6.0,3.0,5.0,25.0,11.0,20.0,0.0,0.0,0.0,0
1960,1961.0,2.0,99.04,99.03,99.03,99.98,99.98,99.99,99.99,99.98,...,14.0,7.0,9.0,29.0,9.0,9.0,30.0,20.0,0.0,0
1961,1962.0,2.0,90.77,91.92,92.67,96.72,94.96,97.25,95.60,95.88,...,8.0,4.0,5.0,39.0,20.0,17.0,0.0,30.0,0.0,0
1962,1963.0,2.0,82.43,88.51,74.05,93.03,76.46,94.70,91.16,95.88,...,8.0,4.0,4.0,21.0,12.0,7.0,20.0,20.0,0.0,0
1963,1964.0,2.0,77.81,77.80,703.00,77.77,61.80,77.77,73.19,58.80,...,7.0,4.0,3.0,25.0,10.0,12.0,25.0,0.0,0.0,0

In [147]:
#定义函数 若有异常，即为超过3δ，或者小于，则用补齐
import numpy as np
def fenwei_buqi(data,data1):
     #建立一个空的数据框
    da1=pd.DataFrame(columns=list(data.columns))
    for i in range(2,data.shape[1]):
       # col=data.iloc[:,i]
       # name=list(data.columns)
        da1.iloc[:,i]=data.iloc[:,i].apply(lambda x: x if x>=data1["下限"][i] else data1["下限"][i])
        da1.iloc[:,i]=data.iloc[:,i].apply(lambda x: data1["上限"][i] if x>data1["上限"][i]  else x)
    return da1

In [152]:
buqi1=fenwei_buqi(da_new.iloc[:,0:15],lis1_new)
buqi1.iloc[:,0:2]=da_new.iloc[:,0:2]
buqi1

,目标客户编号,品牌类型,a1,a2,a3,a4,a5,a6,a7,a8,B1,B2,B3,B4,B5
0,1.0,2.0,99.036888,87.65,81.56,85.61,85.63,85.81,82.35,84.77,2.0,10.0,2.0,10.0,5.0
1,2.0,3.0,88.920000,82.95,85.17,85.19,77.76,83.60,82.15,88.87,2.0,20.0,1.0,3.0,3.0
2,3.0,3.0,95.050000,93.33,77.66,93.03,88.87,94.17,95.60,95.88,2.0,32.0,1.0,8.0,5.0
3,4.0,3.0,71.150000,76.79,66.69,81.93,66.65,77.77,77.58,76.99,2.0,34.0,1.0,5.0,3.0
4,5.0,3.0,70.570000,71.65,70.44,74.03,66.65,66.34,62.09,74.44,2.0,36.0,1.0,5.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1968,0.0,0.0,0.000000,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
1969,0.0,0.0,0.000000,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
1970,0.0,0.0,0.000000,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
1971,0.0,0.0,0.000000,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
1972,0.0,0.0,0.000000,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0

In [78]:
#定义函数 若有异常，即为超过3δ，或者小于，则用空值
import numpy as np
def fenwei_queshi(data,data1):
     #建立一个空的数据框
    da1=pd.DataFrame(columns=list(data.columns))
    for i in range(2,data.shape[1]):
       # col=data.iloc[:,i]
       # name=list(data.columns)
        da1.iloc[:,i]=data.iloc[:,i].apply(lambda x: x if x>=data1["下限"][i] else np.nan)
        da1.iloc[:,i]=data.iloc[:,i].apply(lambda x: np.nan if x>data1["上限"][i]  else x)
    return da1

In [84]:
da_new=da.apply(lambda x:eval(x) if type(x)==type("wei") else x)
lis1_new=lis1.apply(lambda x:eval(x) if type(x)==type("wei") else x)
lis1_new
#type(lis1_new.iloc[0,0])

        名称           下限           上限
0   目标客户编号    20.630000  1944.370000
1     品牌类型     1.000000     3.000000
2       a1    53.662796    99.036888
3       a2    51.862305    99.030172
4       a3    44.454465    99.032550
5       a4    52.284208    99.983342
6       a5    49.389285    99.977498
7       a6    52.477518    99.991867
8       a7    53.201275    99.992713
9       a8    51.442406    99.980365
10      B1     1.000000     2.000000
11      B2     3.000000    44.370000
12      B3     1.000000     4.000000
13      B4     1.000000    20.000000
14      B5     1.000000     6.000000
15      B6     1.000000     6.000000
16      B7     1.000000     2.000000
17      B8  1972.000000  1997.000000
18      B9     3.000000     8.000000
19     B10     1.000000    25.000000
20     B11     1.000000     8.000000
21     B12     1.000000    10.000000
22     B13     8.000000    70.000000
23     B14     5.000000    60.000000
24     B15     4.000000    50.000000
25     B16     0.000000    50.000000
26     B17     0.000000    40.000000
27    购买意愿     0.000000     1.000000

In [153]:
queshi1=fenwei_queshi(da_new.iloc[:,0:15],lis1_new)
queshi1.iloc[:,0:2]=da_new.iloc[:,0:2]
buqi1

,目标客户编号,品牌类型,a1,a2,a3,a4,a5,a6,a7,a8,B1,B2,B3,B4,B5
0,1.0,2.0,99.036888,87.65,81.56,85.61,85.63,85.81,82.35,84.77,2.0,10.0,2.0,10.0,5.0
1,2.0,3.0,88.920000,82.95,85.17,85.19,77.76,83.60,82.15,88.87,2.0,20.0,1.0,3.0,3.0
2,3.0,3.0,95.050000,93.33,77.66,93.03,88.87,94.17,95.60,95.88,2.0,32.0,1.0,8.0,5.0
3,4.0,3.0,71.150000,76.79,66.69,81.93,66.65,77.77,77.58,76.99,2.0,34.0,1.0,5.0,3.0
4,5.0,3.0,70.570000,71.65,70.44,74.03,66.65,66.34,62.09,74.44,2.0,36.0,1.0,5.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1968,0.0,0.0,0.000000,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
1969,0.0,0.0,0.000000,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
1970,0.0,0.0,0.000000,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
1971,0.0,0.0,0.000000,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
1972,0.0,0.0,0.000000,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0

In [82]:
type(queshi1["B16"][2])

numpy.float64

In [112]:
yichang_shanchu=queshi1.iloc[:,2:].isnull().sum(axis=1)#不要前面两列空的值
yichang_shanchu
la1=da.iloc[:,0]
lb1=pd.DataFrame(yichang_shanchu,columns=["变量缺失个数"])
la1
queshi_sum=pd.concat([la1,lb1],axis=1)

queshi_sum

      目标客户编号  变量缺失个数
0        1.0       1
1        2.0       0
2        3.0       0
3        4.0       0
4        5.0       0
...      ...     ...
1968     0.0       0
1969     0.0       0
1970     0.0       0
1971     0.0       0
1972     0.0       0

[1973 rows x 2 columns]

In [146]:
sub_queshi=queshi_sum.loc[(queshi_sum["目标客户编号"]>0)&(queshi_sum["变量缺失个数"]>=2)]
sub_queshi[0:10]
#sub_queshi[60:]

     目标客户编号  变量缺失个数
12     13.0       2
18     19.0       2
32     33.0       2
35     36.0       2
57     58.0       4
115   116.0       2
118   119.0       2
319   320.0       2
401   402.0       2
476   477.0       2