In [24]:
import xlwings as xw 
import os 
import numpy as np
os.chdir(r'E:\Python\数据清洗')
os.getcwd()

'E:\\Python\\数据清洗'

In [13]:
#excel文件读写
df = pd.read_excel('yichang1.xlsx',sheet_name = 'data')# 读取excel需要注明具体哪一个工作簿,否则就是第一个工作簿
#df1 = pd.read_excel('yichang.xlsx',sheet_name = 0)# sheet_name可以为数字，代表第几个工作簿
df

,目标客户编号,品牌类型,a1,a2,a3,a4,a5,a6,a7,a8,...,B9,B10,B11,B12,B13,B14,B15,B16,B17,购买意愿
0,1,2,753.035399,87.653791,81.558171,85.611593,85.629678,85.807576,82.346453,84.769555,...,6,14,2,3,19.0,11,10,30,5,0
1,2,3,88.922790,82.946262,85.166081,85.189724,77.762498,83.595579,82.152367,88.872546,...,6,5,4,4,18.0,10,8,0,30,0
2,3,3,95.048294,93.333131,77.660375,93.034274,88.869998,94.169962,95.602655,95.877373,...,4,9,5,2,24.0,10,17,0,0,0
3,4,3,71.152328,76.785767,66.691701,81.926125,66.654998,77.773674,77.580247,76.989502,...,6,10,4,7,27.0,10,10,18,25,0
4,5,3,70.573962,71.645949,70.444554,74.029832,66.654998,66.336092,62.093021,74.436962,...,6,13,4,2,25.0,15,15,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1959,1960,2,71.357663,75.373690,70.444554,77.767044,68.430276,75.026965,75.482261,70.333970,...,5,6,3,5,25.0,11,20,0,0,0
1960,1961,2,99.036888,99.030172,99.032550,99.983342,99.977498,99.991867,99.992713,99.980365,...,5,14,7,9,29.0,9,9,30,20,0
1961,1962,2,90.771281,91.921055,92.671787,96.719743,94.961899,97.245158,95.602655,95.877373,...,6,8,4,5,39.0,20,17,0,30,0
1962,1963,2,82.427327,88.511489,74.052464,93.034274,76.461711,94.704676,91.163572,95.877373,...,6,8,4,4,21.0,12,7,20,20,0
1963,1964,2,77.808692,77.803468,702.996114,77.767044,61.803653,77.773674,73.190189,58.796528,...,6,7,4,3,25.0,10,12,25,0,0

In [12]:
# 用99分位数和1分位数替换
#计算P1和P99
A1 =df.a1.quantile(0.01); A99 = df.a1.quantile(0.99)
#先创建一个新变量，进行赋值，然后将满足条件的数据进行替换
df['a1_new'] = df['a1']
df.loc[df['a1'] > A99,'a1_new']  = A99
df.loc[df['a1'] < A1,'a1_new']  = A1

,目标客户编号,品牌类型,a1,a2,a3,a4,a5,a6,a7,a8,...,B10,B11,B12,B13,B14,B15,B16,B17,购买意愿,a1_new
0,1,2,753.035399,87.653791,81.558171,85.611593,85.629678,85.807576,82.346453,84.769555,...,14,2,3,19.0,11,10,30,5,0,99.036888
1,2,3,88.922790,82.946262,85.166081,85.189724,77.762498,83.595579,82.152367,88.872546,...,5,4,4,18.0,10,8,0,30,0,88.922790
2,3,3,95.048294,93.333131,77.660375,93.034274,88.869998,94.169962,95.602655,95.877373,...,9,5,2,24.0,10,17,0,0,0,95.048294
3,4,3,71.152328,76.785767,66.691701,81.926125,66.654998,77.773674,77.580247,76.989502,...,10,4,7,27.0,10,10,18,25,0,71.152328
4,5,3,70.573962,71.645949,70.444554,74.029832,66.654998,66.336092,62.093021,74.436962,...,13,4,2,25.0,15,15,0,0,0,70.573962
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1959,1960,2,71.357663,75.373690,70.444554,77.767044,68.430276,75.026965,75.482261,70.333970,...,6,3,5,25.0,11,20,0,0,0,71.357663
1960,1961,2,99.036888,99.030172,99.032550,99.983342,99.977498,99.991867,99.992713,99.980365,...,14,7,9,29.0,9,9,30,20,0,99.036888
1961,1962,2,90.771281,91.921055,92.671787,96.719743,94.961899,97.245158,95.602655,95.877373,...,8,4,5,39.0,20,17,0,30,0,90.771281
1962,1963,2,82.427327,88.511489,74.052464,93.034274,76.461711,94.704676,91.163572,95.877373,...,8,4,4,21.0,12,7,20,20,0,82.427327
1963,1964,2,77.808692,77.803468,702.996114,77.767044,61.803653,77.773674,73.190189,58.796528,...,7,4,3,25.0,10,12,25,0,0,77.808692

In [25]:
#提取异常值 3西格玛原则
def delta_tiqu(da):
    lis1=[]
    lis2=[]
    lis3=[]
    for i in range(2,da.shape[1]):
        lis1.append(np.mean(da.iloc[:,i])-3*np.std(da.iloc[:,i]))
        lis2.append(np.mean(da.iloc[:,i])+3*np.std(da.iloc[:,i]))
        lis3.append(list(da.columns)[i])
        #将数据框进行整合
    #先将列表变成数据框
    li1=pd.DataFrame(lis1)
    li2=pd.DataFrame(lis2)
    li3=pd.DataFrame(lis3)
    df1=pd.concat([li3,li1,li2],axis=1)
    df1.columns=["名称","下限","上限"]
    return df1
y1= delta_tiqu(df)
y1

      名称           下限           上限
0     a1    25.362357   131.175330
1     a2    50.961630   105.297744
2     a3    23.454128   128.986347
3     a4    51.415797   106.267580
4     a5    31.761656   123.107171
5     a6    49.776506   105.981669
6     a7    50.319037   105.723310
7     a8    48.823021   106.338231
8     B1     0.305209     3.088885
9     B2   -12.941041    55.707844
10    B3    -0.633830     3.851752
11    B4    -4.744419    20.017332
12    B5     0.214051     6.697355
13    B6     0.279726     8.781374
14    B7     0.020558     2.307311
15    B8  1971.685412  2001.706645
16    B9     2.913906     8.024994
17   B10    -4.634318    24.797251
18   B11    -0.234582     9.070631
19   B12    -2.698695    12.454296
20   B13   -11.199523    64.736051
21   B14   -16.125576    49.294619
22   B15   -13.675785    46.530164
23   B16   -24.125456    54.685538
24   B17   -27.740929    46.923210
25  购买意愿    -0.605945     0.706759

In [32]:
#得到数据框的行数
df.shape[1]
#得到数据框的列数
len(df)

1964

In [21]:

#将每列的分位数提取出来
def fenwei_tiqu(da):
    lis1=[]
    lis2=[]
    lis3=[]
    for i in range(da.shape[1]):
        lis1.append(da.iloc[:,i].quantile(0.01))
        lis2.append(da.iloc[:,i].quantile(0.99))
        lis3.append(list(da.columns)[i])
        #将数据框进行整合
    #先将列表变成数据框
    li1=pd.DataFrame(lis1)
    li2=pd.DataFrame(lis2)
    li3=pd.DataFrame(lis3)
    df1=pd.concat([li3,li1,li2],axis=1)
    df1.columns=["名称","下限","上限"]
    #转置数据框
    #lis=pd.DataFrame(df1.values.T,index=df1.columns,columns=df1.index)
    # lis=pd.concat([lis0,lis3],axis=1)
    return df1

In [22]:
lis1=fenwei_tiqu(df)
lis1

#lis1.iloc[2,i]

        名称           下限           上限
0   目标客户编号    20.630000  1944.370000
1     品牌类型     1.000000     3.000000
2       a1    53.662796    99.036888
3       a2    51.862305    99.030172
4       a3    44.454465    99.032550
5       a4    52.284208    99.983342
6       a5    49.389285    99.977498
7       a6    52.477518    99.991867
8       a7    53.201275    99.992713
9       a8    51.442406    99.980365
10      B1     1.000000     2.000000
11      B2     3.000000    44.370000
12      B3     1.000000     4.000000
13      B4     1.000000    20.000000
14      B5     1.000000     6.000000
15      B6     1.000000     6.000000
16      B7     1.000000     2.000000
17      B8  1972.000000  1997.000000
18      B9     3.000000     8.000000
19     B10     1.000000    25.000000
20     B11     1.000000     8.000000
21     B12     1.000000    10.000000
22     B13     8.000000    70.000000
23     B14     5.000000    60.000000
24     B15     4.000000    50.000000
25     B16     0.000000    50.000000
26     B17     0.000000    40.000000
27    购买意愿     0.000000     1.000000

In [26]:
#将异常的数据提取出来
#da是数据框
def yichang_tiqu(da):
    #建立一个空的数据框
    da1=pd.DataFrame(columns=list(da.columns))
    for i in range(da.shape[1]):
        #依次提取列
        col=da.iloc[:,i]
         #依次提取列中的元素
        try:
            for s in col:
                if s<col.quantile(0.01) or s>col.quantile(0.99):
                #将有异常的这一行留下来
                #并且与da1合并
                    df1=pd.DataFrame(da.iloc[list(col).index(s)])
                    #因为是索引行，上面得到的是一个列数据，所以需要将数据框转置
                    df2=pd.DataFrame(df1.values.T,index=df1.columns,columns=df1.index)  
                    #将每一个得到行数据框，与前一个数据框上下合并
                    da1=da1.append(df2)
        except:
            df1=pd.DataFrame(da.iloc[list(col).index(s)])
                    #因为是索引行，上面得到的是一个列数据，所以需要将数据框转置
            df2=pd.DataFrame(df1.values.T,index=df1.columns,columns=df1.index)  
                    #将每一个得到行数据框，与前一个数据框上下合并
            da1=da1.append(df2)
    da1.drop_duplicates()        
    return da1

In [34]:
yic=yichang_tiqu(df)
yic

,目标客户编号,品牌类型,a1,a2,a3,a4,a5,a6,a7,a8,...,B9,B10,B11,B12,B13,B14,B15,B16,B17,购买意愿
0,1.0,2.0,753.035399,87.653791,81.558171,85.611593,85.629678,85.807576,82.346453,84.769555,...,6.0,14.0,2.0,3.0,19.0,11.0,10.0,30.0,5.0,0.0
1,2.0,3.0,88.922790,82.946262,85.166081,85.189724,77.762498,83.595579,82.152367,88.872546,...,6.0,5.0,4.0,4.0,18.0,10.0,8.0,0.0,30.0,0.0
2,3.0,3.0,95.048294,93.333131,77.660375,93.034274,88.869998,94.169962,95.602655,95.877373,...,4.0,9.0,5.0,2.0,24.0,10.0,17.0,0.0,0.0,0.0
3,4.0,3.0,71.152328,76.785767,66.691701,81.926125,66.654998,77.773674,77.580247,76.989502,...,6.0,10.0,4.0,7.0,27.0,10.0,10.0,18.0,25.0,0.0
4,5.0,3.0,70.573962,71.645949,70.444554,74.029832,66.654998,66.336092,62.093021,74.436962,...,6.0,13.0,4.0,2.0,25.0,15.0,15.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
824,825.0,2.0,84.320253,83.237480,77.950261,88.875193,88.705744,83.060866,88.689437,85.894076,...,4.0,13.0,5.0,4.0,10.0,6.0,3.0,0.0,55.0,0.0
291,292.0,2.0,61.472979,69.289020,51.821854,81.452512,57.322776,63.917868,79.860296,62.979848,...,6.0,5.0,4.0,7.0,13.0,7.0,4.0,0.0,50.0,0.0
291,292.0,2.0,61.472979,69.289020,51.821854,81.452512,57.322776,63.917868,79.860296,62.979848,...,6.0,5.0,4.0,7.0,13.0,7.0,4.0,0.0,50.0,0.0
824,825.0,2.0,84.320253,83.237480,77.950261,88.875193,88.705744,83.060866,88.689437,85.894076,...,4.0,13.0,5.0,4.0,10.0,6.0,3.0,0.0,55.0,0.0
291,292.0,2.0,61.472979,69.289020,51.821854,81.452512,57.322776,63.917868,79.860296,62.979848,...,6.0,5.0,4.0,7.0,13.0,7.0,4.0,0.0,50.0,0.0

In [35]:
#yic.drop_duplicates()
#yic.to_csv("yicha_data.csv")
#可以将异常值的数据与每列的分位数数据lis1放入excel中比较，对异常的具体指标数值进行标亮
#保存数据
yic.to_excel('yicha_data.xlsx',sheet_name='one',index=False)
yic

,目标客户编号,品牌类型,a1,a2,a3,a4,a5,a6,a7,a8,...,B9,B10,B11,B12,B13,B14,B15,B16,B17,购买意愿
0,1.0,2.0,753.035399,87.653791,81.558171,85.611593,85.629678,85.807576,82.346453,84.769555,...,6.0,14.0,2.0,3.0,19.0,11.0,10.0,30.0,5.0,0.0
1,2.0,3.0,88.922790,82.946262,85.166081,85.189724,77.762498,83.595579,82.152367,88.872546,...,6.0,5.0,4.0,4.0,18.0,10.0,8.0,0.0,30.0,0.0
2,3.0,3.0,95.048294,93.333131,77.660375,93.034274,88.869998,94.169962,95.602655,95.877373,...,4.0,9.0,5.0,2.0,24.0,10.0,17.0,0.0,0.0,0.0
3,4.0,3.0,71.152328,76.785767,66.691701,81.926125,66.654998,77.773674,77.580247,76.989502,...,6.0,10.0,4.0,7.0,27.0,10.0,10.0,18.0,25.0,0.0
4,5.0,3.0,70.573962,71.645949,70.444554,74.029832,66.654998,66.336092,62.093021,74.436962,...,6.0,13.0,4.0,2.0,25.0,15.0,15.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
824,825.0,2.0,84.320253,83.237480,77.950261,88.875193,88.705744,83.060866,88.689437,85.894076,...,4.0,13.0,5.0,4.0,10.0,6.0,3.0,0.0,55.0,0.0
291,292.0,2.0,61.472979,69.289020,51.821854,81.452512,57.322776,63.917868,79.860296,62.979848,...,6.0,5.0,4.0,7.0,13.0,7.0,4.0,0.0,50.0,0.0
291,292.0,2.0,61.472979,69.289020,51.821854,81.452512,57.322776,63.917868,79.860296,62.979848,...,6.0,5.0,4.0,7.0,13.0,7.0,4.0,0.0,50.0,0.0
824,825.0,2.0,84.320253,83.237480,77.950261,88.875193,88.705744,83.060866,88.689437,85.894076,...,4.0,13.0,5.0,4.0,10.0,6.0,3.0,0.0,55.0,0.0
291,292.0,2.0,61.472979,69.289020,51.821854,81.452512,57.322776,63.917868,79.860296,62.979848,...,6.0,5.0,4.0,7.0,13.0,7.0,4.0,0.0,50.0,0.0

In [37]:

#导入数据，并且对导出异常的数据
#yicha_data= pd.read_csv("yichang.csv",engine='python')
#da1=yicha_data
dd=pd.DataFrame(df.isnull().sum(axis=1),columns=["缺失值个数"])#axis=1按行，axis=0列
da2=pd.concat([df,dd],axis=1)
da=da2.loc[da2["缺失值个数"]>0]
da
#da.describe()

,目标客户编号,品牌类型,a1,a2,a3,a4,a5,a6,a7,a8,...,B10,B11,B12,B13,B14,B15,B16,B17,购买意愿,缺失值个数
7,8,3,59.077167,48.149538,44.454465,60.128757,55.547498,55.555481,40.058727,44.431274,...,1,5,8,22.0,14,8,20,20,0,1
11,12,3,75.424604,75.779021,62.938848,73.607963,69.895318,71.951769,77.774332,62.553918,...,30,4,6,20.0,8,10,0,25,0,1
13,14,3,61.109872,76.367198,66.691701,77.767044,55.547498,60.842673,68.957214,70.333970,...,6,1,8,30.0,15,12,0,0,0,1
26,27,1,81.302004,90.585178,81.558171,78.662525,71.670597,69.739773,73.262177,85.195485,...,1,7,9,34.0,14,8,18,25,0,1
33,34,1,68.543085,69.119893,66.691701,66.658894,66.654998,69.411288,66.665142,66.656909,...,5,2,2,15.0,10,10,40,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1930,1931,1,79.839569,77.803468,77.805318,81.926125,80.838564,80.520384,80.054381,81.867720,...,12,3,1,20.0,8,14,50,20,0,1
1937,1938,2,85.181373,89.322150,92.671787,81.926125,84.018653,86.136061,86.591451,84.769555,...,3,3,8,29.0,11,24,14,5,1,1
1944,1945,2,77.267909,80.994663,85.166081,81.030644,77.762498,83.595579,77.919392,73.661736,...,7,7,9,10.0,5,6,30,10,0,1
1955,1956,2,74.425672,70.919467,77.805318,82.347993,77.762498,69.739773,84.311402,71.109196,...,7,3,4,20.0,5,15,30,15,0,1
1963,1964,2,77.808692,77.803468,702.996114,77.767044,61.803653,77.773674,73.190189,58.796528,...,7,4,3,25.0,10,12,25,0,0,1

In [46]:
#定义函数 若有异常，即为超或者小于，则用分位补齐
import numpy as np
def fenwei_buqi(data,data1):
     #建立一个空的数据框
    da1=pd.DataFrame(columns=list(data.columns))
    for i in range(2,data.shape[1]):
       # col=data.iloc[:,i]
       # name=list(data.columns)
        da1.iloc[:,i]=data.iloc[:,i].apply(lambda x: x if x>=data1["下限"][i] else data1["下限"][i])
        da1.iloc[:,i]=data.iloc[:,i].apply(lambda x: data1["上限"][i] if x>data1["上限"][i]  else x)
    return da1

In [47]:
#buqi1=fenwei_buqi(df.iloc[:,0:15],lis1)
buqi1=fenwei_buqi(df,lis1)
buqi1

,目标客户编号,品牌类型,a1,a2,a3,a4,a5,a6,a7,a8,...,B9,B10,B11,B12,B13,B14,B15,B16,B17,购买意愿
0,NaN,NaN,99.036888,87.653791,81.558171,85.611593,85.629678,85.807576,82.346453,84.769555,...,6,14.0,2.0,3.0,19.0,11.0,10.0,30.0,5.0,0
1,NaN,NaN,88.922790,82.946262,85.166081,85.189724,77.762498,83.595579,82.152367,88.872546,...,6,5.0,4.0,4.0,18.0,10.0,8.0,0.0,30.0,0
2,NaN,NaN,95.048294,93.333131,77.660375,93.034274,88.869998,94.169962,95.602655,95.877373,...,4,9.0,5.0,2.0,24.0,10.0,17.0,0.0,0.0,0
3,NaN,NaN,71.152328,76.785767,66.691701,81.926125,66.654998,77.773674,77.580247,76.989502,...,6,10.0,4.0,7.0,27.0,10.0,10.0,18.0,25.0,0
4,NaN,NaN,70.573962,71.645949,70.444554,74.029832,66.654998,66.336092,62.093021,74.436962,...,6,13.0,4.0,2.0,25.0,15.0,15.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1959,NaN,NaN,71.357663,75.373690,70.444554,77.767044,68.430276,75.026965,75.482261,70.333970,...,5,6.0,3.0,5.0,25.0,11.0,20.0,0.0,0.0,0
1960,NaN,NaN,99.036888,99.030172,99.032550,99.983342,99.977498,99.991867,99.992713,99.980365,...,5,14.0,7.0,9.0,29.0,9.0,9.0,30.0,20.0,0
1961,NaN,NaN,90.771281,91.921055,92.671787,96.719743,94.961899,97.245158,95.602655,95.877373,...,6,8.0,4.0,5.0,39.0,20.0,17.0,0.0,30.0,0
1962,NaN,NaN,82.427327,88.511489,74.052464,93.034274,76.461711,94.704676,91.163572,95.877373,...,6,8.0,4.0,4.0,21.0,12.0,7.0,20.0,20.0,0
1963,NaN,NaN,77.808692,77.803468,99.032550,77.767044,61.803653,77.773674,73.190189,58.796528,...,6,7.0,4.0,3.0,25.0,10.0,12.0,25.0,0.0,0

In [49]:

buqi1.iloc[:,0:2]=df.iloc[:,0:2]
buqi1

,目标客户编号,品牌类型,a1,a2,a3,a4,a5,a6,a7,a8,...,B9,B10,B11,B12,B13,B14,B15,B16,B17,购买意愿
0,1,2,99.036888,87.653791,81.558171,85.611593,85.629678,85.807576,82.346453,84.769555,...,6,14.0,2.0,3.0,19.0,11.0,10.0,30.0,5.0,0
1,2,3,88.922790,82.946262,85.166081,85.189724,77.762498,83.595579,82.152367,88.872546,...,6,5.0,4.0,4.0,18.0,10.0,8.0,0.0,30.0,0
2,3,3,95.048294,93.333131,77.660375,93.034274,88.869998,94.169962,95.602655,95.877373,...,4,9.0,5.0,2.0,24.0,10.0,17.0,0.0,0.0,0
3,4,3,71.152328,76.785767,66.691701,81.926125,66.654998,77.773674,77.580247,76.989502,...,6,10.0,4.0,7.0,27.0,10.0,10.0,18.0,25.0,0
4,5,3,70.573962,71.645949,70.444554,74.029832,66.654998,66.336092,62.093021,74.436962,...,6,13.0,4.0,2.0,25.0,15.0,15.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1959,1960,2,71.357663,75.373690,70.444554,77.767044,68.430276,75.026965,75.482261,70.333970,...,5,6.0,3.0,5.0,25.0,11.0,20.0,0.0,0.0,0
1960,1961,2,99.036888,99.030172,99.032550,99.983342,99.977498,99.991867,99.992713,99.980365,...,5,14.0,7.0,9.0,29.0,9.0,9.0,30.0,20.0,0
1961,1962,2,90.771281,91.921055,92.671787,96.719743,94.961899,97.245158,95.602655,95.877373,...,6,8.0,4.0,5.0,39.0,20.0,17.0,0.0,30.0,0
1962,1963,2,82.427327,88.511489,74.052464,93.034274,76.461711,94.704676,91.163572,95.877373,...,6,8.0,4.0,4.0,21.0,12.0,7.0,20.0,20.0,0
1963,1964,2,77.808692,77.803468,99.032550,77.767044,61.803653,77.773674,73.190189,58.796528,...,6,7.0,4.0,3.0,25.0,10.0,12.0,25.0,0.0,0

In [50]:
#定义函数 若有异常，即为超过3δ，或者小于，则用空值
import numpy as np
def fenwei_queshi(data,data1):
     #建立一个空的数据框
    da1=pd.DataFrame(columns=list(data.columns))
    for i in range(2,data.shape[1]):
       # col=data.iloc[:,i]
       # name=list(data.columns)
        da1.iloc[:,i]=data.iloc[:,i].apply(lambda x: x if x>=data1["下限"][i] else np.nan)
        da1.iloc[:,i]=data.iloc[:,i].apply(lambda x: np.nan if x>data1["上限"][i]  else x)
    return da1

In [51]:
da_new=da.apply(lambda x:eval(x) if type(x)==type("wei") else x)
lis1_new=lis1.apply(lambda x:eval(x) if type(x)==type("wei") else x)
lis1_new
#type(lis1_new.iloc[0,0])

        名称           下限           上限
0   目标客户编号    20.630000  1944.370000
1     品牌类型     1.000000     3.000000
2       a1    53.662796    99.036888
3       a2    51.862305    99.030172
4       a3    44.454465    99.032550
5       a4    52.284208    99.983342
6       a5    49.389285    99.977498
7       a6    52.477518    99.991867
8       a7    53.201275    99.992713
9       a8    51.442406    99.980365
10      B1     1.000000     2.000000
11      B2     3.000000    44.370000
12      B3     1.000000     4.000000
13      B4     1.000000    20.000000
14      B5     1.000000     6.000000
15      B6     1.000000     6.000000
16      B7     1.000000     2.000000
17      B8  1972.000000  1997.000000
18      B9     3.000000     8.000000
19     B10     1.000000    25.000000
20     B11     1.000000     8.000000
21     B12     1.000000    10.000000
22     B13     8.000000    70.000000
23     B14     5.000000    60.000000
24     B15     4.000000    50.000000
25     B16     0.000000    50.000000
26     B17     0.000000    40.000000
27    购买意愿     0.000000     1.000000

In [54]:
queshi1=fenwei_queshi(df,lis1)
queshi1.iloc[:,0:2]=df.iloc[:,0:2]
queshi1

,目标客户编号,品牌类型,a1,a2,a3,a4,a5,a6,a7,a8,...,B9,B10,B11,B12,B13,B14,B15,B16,B17,购买意愿
0,1,2,NaN,87.653791,81.558171,85.611593,85.629678,85.807576,82.346453,84.769555,...,6,14.0,2.0,3.0,19.0,11.0,10.0,30.0,5.0,0
1,2,3,88.922790,82.946262,85.166081,85.189724,77.762498,83.595579,82.152367,88.872546,...,6,5.0,4.0,4.0,18.0,10.0,8.0,0.0,30.0,0
2,3,3,95.048294,93.333131,77.660375,93.034274,88.869998,94.169962,95.602655,95.877373,...,4,9.0,5.0,2.0,24.0,10.0,17.0,0.0,0.0,0
3,4,3,71.152328,76.785767,66.691701,81.926125,66.654998,77.773674,77.580247,76.989502,...,6,10.0,4.0,7.0,27.0,10.0,10.0,18.0,25.0,0
4,5,3,70.573962,71.645949,70.444554,74.029832,66.654998,66.336092,62.093021,74.436962,...,6,13.0,4.0,2.0,25.0,15.0,15.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1959,1960,2,71.357663,75.373690,70.444554,77.767044,68.430276,75.026965,75.482261,70.333970,...,5,6.0,3.0,5.0,25.0,11.0,20.0,0.0,0.0,0
1960,1961,2,99.036888,99.030172,99.032550,99.983342,99.977498,99.991867,99.992713,99.980365,...,5,14.0,7.0,9.0,29.0,9.0,9.0,30.0,20.0,0
1961,1962,2,90.771281,91.921055,92.671787,96.719743,94.961899,97.245158,95.602655,95.877373,...,6,8.0,4.0,5.0,39.0,20.0,17.0,0.0,30.0,0
1962,1963,2,82.427327,88.511489,74.052464,93.034274,76.461711,94.704676,91.163572,95.877373,...,6,8.0,4.0,4.0,21.0,12.0,7.0,20.0,20.0,0
1963,1964,2,77.808692,77.803468,NaN,77.767044,61.803653,77.773674,73.190189,58.796528,...,6,7.0,4.0,3.0,25.0,10.0,12.0,25.0,0.0,0

In [57]:
yichang_shanchu=queshi1.isnull().sum(axis=1)#不要前面两列空的值
yichang_shanchu

0       1
1       0
2       0
3       0
4       0
       ..
1959    0
1960    0
1961    0
1962    0
1963    2
Length: 1964, dtype: int64

In [58]:
la1=df.iloc[:,0]
lb1=pd.DataFrame(yichang_shanchu,columns=["变量缺失个数"])
queshi_sum=pd.concat([la1,lb1],axis=1)#concat连接
queshi_sum

      目标客户编号  变量缺失个数
0          1       1
1          2       0
2          3       0
3          4       0
4          5       0
...      ...     ...
1959    1960       0
1960    1961       0
1961    1962       0
1962    1963       0
1963    1964       2

[1964 rows x 2 columns]

In [62]:
sub_queshi=queshi_sum.loc[(queshi_sum["目标客户编号"]>0)&(queshi_sum["变量缺失个数"]>=1)]
#sub_queshi[0:10]
sub_queshi

      目标客户编号  变量缺失个数
0          1       1
7          8       3
11        12       3
13        14       1
26        27       1
...      ...     ...
1937    1938       1
1944    1945       1
1954    1955       1
1955    1956       1
1963    1964       2

[583 rows x 2 columns]

In [63]:
xinwan_range= pd.read_csv(r"E:\Python\数据清洗\fanwei.csv",engine='python')
xinwan_range
#将有缺失值的每一列的对应的样本编号找到，注意下面的变量编号需要替换成自己数据的编号名
def na_num_var(xinwan_range):
    b=xinwan_range
    col_nul=b.isnull().sum()#得到所有列的空值索引
    col_nul1=pd.DataFrame(b.isnull().sum(),columns=["样本空缺个数"]) #将每列的空值索引变成数据框
    lisna=col_nul1[col_nul1["样本空缺个数"]>=1].index.tolist() #得到有空缺值的每一列的名称的列表
    lisna
    df_na=pd.DataFrame()#用有空缺值的列建立一个空的数据框
    for i in range(len(lisna)):
        row_lis=b[b[lisna[i]].isnull()].index.tolist() #得到这列值为空的行号的列表 # 从这里开始可以用for循环 范围到len(lisna) #注意只是行索引不是样本编号
        number=pd.DataFrame(b.变量编号[row_lis])#得到这列值为空的变量编号的列表
        df_na=pd.concat([df_na,number],axis=1)
    df_na.columns=lisna
    tdf_na=pd.DataFrame(df_na.values.T,index=df_na.columns,columns=df_na.index) #转置数据框
    return tdf_na

df_na=na_num_var(xinwan_range)
df_na

,0,58,62,86,87,88,89,90,91,92,...,331,342,343,345,347,349,350,351,352,353
中文名称,NaN,NaN,NaN,NaN,88.0,89.0,90.0,91.0,92.0,93.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
单位,1.0,59.0,63.0,87.0,88.0,89.0,90.0,91.0,92.0,93.0,...,332.0,343.0,344.0,346.0,348.0,350.0,351.0,352.0,353.0,354.0
Δ值,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#将每一行的空格删除掉
f=open("删除行空格.txt","w")
for i in range(len(df_na)):
    for n in df_na.loc[df_na.index.tolist()[i]]:
        if n>0:
            f.write(str(int(n)))
            f.write(" ")
    f.write("\n")
f.close()